* {
  padding:0px;
  margin:0px
}

html {
  height:100%
}

.banner {
  width:100%;
  height:100px;
  background-color:teal;
}

.body {
  width: 100%;
  height: 100%;
  background-color:salmon;
}
.footer {
  width: 100%;
  height:200px;
  background: coral;
}

.header {
  width: 100%;
  height: 50px;
  background-color:orange;
}

.card {
  width:25%;
  height:200px;
  background-color: green;
  display:inline-block
}
.goal-card {
  width:25%;
  height:200px;
  background-color: green;
  vertical-align: top;
  display:inline-block
}

.goal_log {
  width:80%;
  height:500px;
  background-color:maroon;
  overflow-y:scroll
}

.goal_log p {
  background-color:lightblue;
  height:30px
}

.progress {
  width: 90%;
  height: 20px;
  background-color:purple;
}
