* {
  padding:0px;
  margin:0px
}

.banner {
  width:100%;
  height:200px;
  background-color:teal;
}

.body {
  width: 100%;
  background-color:salmon;
}
.footer {
  width: 100%;
  height:200px;
  background: coral;
}

.card {
  width:25%;
  height:200px;
  background-color: green;
  display:inline-block
}
.goal-card {
  width:25%;
  height:200px;
  background-color: green;
  vertical-align: top;
  display:inline-block
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color:purple;
}
