<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{%static 'goals/css/dashboard_styles.css'%}">
  </head>
  <body>
    <div class="header">
      <a href="/logout"><button>Logout</button></a>
      {%if messages%}
        {%for message in messages%}
          <span style="color:green">{{message}}</span>
        {%endfor%}
      {%endif%}
      <h1>Welcome {{request.session.user.first_name}}!</h1>
    </div>
    <div class="banner">
      <h1>Current Goal: {{recent.goal.name}}</h1>
      <h3>Last Completed Goal: {{recent.name}}</h3>
      <h3>Time since last Completed Goal: 23 hours</h3>
      <h3>Current Goal: {{current.name}}</h3>
      <a href="/goal_log"><button>Goal Log</button></a>
    </div>
    <div class="body">
      <h1>Goals</h1>

      {%for goal in goals%}
      <div class="card">
        {{goal}}
        {{goal.name}}<br>
        {{goal.description}}<br>
        Current Goal: {{minigoals.0.name}}
      <div class="progress-bar">
        <div style="width:{{goal.progress}}%" class="progress">
          <p>{{goal.progress}}%Complete</p>
        </div>
      </div><br>
      <a href="/goal/{{goal.id}}"><button>Track Goal</button></a>
    </div>
      {%endfor%}
      <br>

      <a href="/new_goal"><button>Track New Goal</button></a>
    </div>

  </body>
</html>
