<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Goal</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{%static 'goals/css/goal_styles.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#note').hide()
      $('#edit').click(function(e){
        e.preventDefault();
        $('#note').toggle("slow");
      });
    });
    </script>
  </head>
  <body>
    <div class="banner">
      <a href="/dashboard"><button>Dashboard</button></a>
      <a href="/logout"><button>Logout</button></a>
      <h1>{{goal.name}}</h1>
      <div class="progress-bar">
        <div style="width:{{goal.progress}}%"class="progress">
        </div>
      </div>
      Progress: {{goal.progress}}% Complete<br>
      <a href="/goal_log"><button>goal log</button></a>
    </div>
    <div class="body">
      <h2>Description: {{goal.description}}</h2>
      <h2>Time Left: 2 Months</h2>
      <h2>Last Goal Completed: Build a website Jan 8,2017</h2>
    </div>
    <div class="body">
        {%for minigoal in minigoals%}
        <div class="goal-card">
          <h3>{{minigoal.name}}</h3>
          <h3>Description: {{minigoal.description}}</h3>
          {%if minigoal.status == status.Pending%}
          <h2>{{minigoal.status}}</h2>
            <a href="/update/{{goal.id}}/{{minigoal.id}}/Activate"><button>Activate</button></a>
          {%endif%}
          {%if minigoal.status == status.Active%}
          <h2>{{minigoal.status}}</h2>
            <p>Started: {{minigoal.started_at}}</p>
            Note:
            <form action="/update/{{goal.id}}/{{minigoal.id}}/Finish" method="post">
              {%csrf_token%}
               <textarea name='note' rows="4" cols="30">{{minigoal.note}}</textarea>
              <input type="submit" name="" value="Finish">
            </form>


          {%endif%}
          {%if minigoal.status == status.Finished%}
          <h2>{{minigoal.status}}!</h2>
            {{minigoal.finished_at}}
            <br>
            {{minigoal.note}}
            <a id='edit' href="/goal/{{goal.id}}"><button>edit</button></a>
            <form action="index.html" method="post">
              <textarea id='note' name="note" rows="3" cols="30"></textarea>
            </form>
          {%endif%}
            <br>
        </div>
        {%endfor%}
        <br>
      <a href="/goal"><button>+Add Mini-Goal</button></a>
    </div>
  </body>
</html>
