<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Goal Tracker</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{%static 'goals/css/styles.css'%}">
  </head>
  <body>
    <div class="header">
      {%if messages%}
        {%for message in messages%}
          <span style="color:red">{{message}}<br></span>
        {%endfor%}
      {%endif%}
      <h1>I made some  changes</h1>
      <form action="/login" method="post">
        {%csrf_token%}
        Email<input type="text" name="email" value="">
        Password<input type="password" name="password" value="">
        <input type="submit" value="Login">
      </form>
    </div>
    <div class="banner">
      <h1>GOAL TRACKER</h1>
      BANNER GOES HERE
    </div>
    <div class="body">
    <p>Tracking progress is one of the best ways to accomplish a goal.  With this website you can easily track goals setting and accomplishing mini goals...</p>
    </div>
    <div class="footer">
      <h1>Start Tracking!</h1>
      <form action="/register" method="post">
        {%csrf_token%}
        First Name: <input type="text" name="first_name" value="">
        Last Name: <input type="text" name="last_name" value="">
        Email: <input type="text" name="email" value=""><br>
        Password: <input type="password" name="password" value="">
        Confirm Password: <input type="password" name="confirm_pw" value=""><br>
        <input type="submit" name="" value="Register">
      </form>
    </div>
  </body>
</html>
